<a href="https://colab.research.google.com/github/WhiteChocolate0/ProgramApplication/blob/main/EX03_04_%E8%96%AA%E6%83%85%E5%B9%B3%E5%8F%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## EX03-04 薪情平台
* Dataset: https://earnings.dgbas.gov.tw/
```
!wget -O earning.xlsx https://raw.githubusercontent.com/imchihchao/aop113b/main/materials/03-earnings.xlsx
```
* 請完成以下任務：
  * 資料清理（去除空值欄列、重設欄名、重設列索引）
  * 找出 81 年薪水最高和最低分別是什麼行業
  * 找出 醫療保健及社會工作服務業 最高是那一年
  * 找出 113 年薪水最高和最低的前三名分別是什麼行業
  * 找出歷年薪水最高的前三名